.search {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search div {
  display: flex;
  justify-content: space-between; 
  width: 100%; 
}

.search div > div {
  display: flex;
  flex-direction: column;
  flex: 1; 
  margin: 0 10px; 
}

input {
  width: 100%; 
  padding: 10px;
  margin: 8px 0; 
  border: 2px solid rgb(54, 47, 47);
  border-radius: 4px;
  margin-left: 10px;
}

.search h2 {
  font-size: 30px;
  color: #987d9a;
  font-family: 'Poppins', serif;
}

.search label {
  font-family: 'Nunito', serif;
  color: #808080;
  font-weight: bold;
  font-size: 20px;
}
